<section>
  <div class="principal">
    <h1>Lista de actividades</h1>
  </div>
  <div class="fondo">
    <div class="actividades">
      <div *ngFor="let actividad of activityData" class="actividad">
        <img [src]="'http://127.0.0.1:3000/imagenes/' + actividad.image" alt="{{ actividad.name }}">
        <div class="descripcion">
          <h2>{{ actividad.name }}</h2>
          <p>Fecha: {{ actividad.date }}</p>
          <p>Ubicación: {{ actividad.location }}</p>
          <p>Municipalidad: {{ actividad.User.name }}</p> <!-- Aquí se muestra la empresa -->
          <button class="boton-inscripcion" [routerLink]="['/details', actividad.id]">Inscribirme</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-navigation></app-footer-navigation>
