.principal{
    margin: 20px;
    text-align: center;
    
}
.actividad {
    margin-bottom: 20px;
    border: 1px solid #070707;
    padding: 10px;
    overflow: hidden;
  }
  .actividad img {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: auto;
  }
  .actividad .descripcion {
    float: left;
  }
  .boton-inscripcion {
    float: right;
    padding: 5px 10px;
    background-color: orangered;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .actividades {
    display: flex;
    flex-wrap: wrap;
}

.actividad {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.actividad img {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 400px;
}

.descripcion {
    flex: 1 1 auto;
}
