<section class="profile-section">
  <div class="col-12 logo-container">
    <img src="assets/images/logo2.png" alt="SolidariClick Logo" class="logo">
  </div>
  <div class="principal">
    <h1>Lista de Oportunidades</h1>
    <div>
      <label for="interests">Filtrar por intereses:</label>
      <select id="interests" (change)="filterByInterest($event)">
        <option value="all">Todos</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
  </div>
  <div class="fondo">
    <div class="actividades">
      <div *ngFor="let actividad of filteredActivityData" class="actividad">
        <img [src]="'http://127.0.0.1:3000/imagenes/' + actividad.image" alt="{{ actividad.name }}">
        <div class="descripcion">
          <h2>{{ actividad.name }}</h2>
          <p>Fecha: {{ actividad.date }}</p>
          <p>Ubicación: {{ actividad.location }}</p>
          <p>Municipalidad: {{ actividad.User.name }}</p>
          <p>Puntos: <i class="fas fa-star"></i> {{ actividad.points }}</p> <!-- Añadir puntos aquí -->
          <button class="boton-inscripcion" [routerLink]="['/details', actividad.id]">Inscribirme</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-navigation></app-footer-navigation>
