@keyframes changeBackground {
  0% {
    background: url('/assets/images/photo1.jpg') no-repeat center center/cover;
  }
  33% {
    background: url('/assets/images/photo2.jpg') no-repeat center center/cover;
  }
  66% {
    background: url('/assets/images/photo3.jpg') no-repeat center center/cover;
  }
  100% {
    background: url('/assets/images/photo1.jpg') no-repeat center center/cover;
  }
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
  animation: changeBackground 15s infinite;
}

.form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 350px;
  max-width: 90%;
  text-align: center;
}

.form-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100%; /* Ajusta el tamaño del contenedor */
  height: 100%; /* Ajusta el tamaño del contenedor */}

.text-danger {
  color: red;
  font-size: 0.875em;
  }
  