<!-- activity-create.component.html -->
<section class="background d-flex align-items-center justify-content-center vh-100">
  <form [formGroup]="formCreateActivity" class="form-container" (ngSubmit)="submit()">
    <div class="title">
      <h1>CREAR ACTIVIDAD</h1>
    </div>
    <div class="form-group">
      <input type="text" formControlName="name" autocomplete="off" placeholder="Nombre de la actividad" class="form-control">
    </div>
    <div class="form-group">
      <textarea formControlName="description" autocomplete="off" placeholder="Descripción de la actividad" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="file" (change)="onFileChange($event)" class="form-control">
    </div>
    <div class="form-group">
      <input type="date" formControlName="date" autocomplete="off" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" formControlName="location" autocomplete="off" placeholder="Ubicación de la actividad" class="form-control">
    </div>
    <div class="form-group">
      <label for="interests">Categoria:</label>
      <select formControlName="categoryId" class="form-control">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn-submit">Crear Actividad</button>
    </div>
  </form>
</section>
<app-footer-navigation></app-footer-navigation>
