<section class="background d-flex align-items-center justify-content-center vh-100">
    <form [formGroup]="formLogin" class="form-container">
      <div class="row mt-4 text-center">
        <h1>RECUPERAR CONTRASEÑA</h1>
        <div class="col-12">
          <input type="text" pInputText formControlName="username" autocomplete="off" placeholder="Ingrese su nombre de usuario" class="form-control">
        </div>
        <div class="col-12 mt-2">
            <input type="email" pInputText formControlName="email" autocomplete="off" placeholder="Ingrese su correo" class="form-control">
          </div>
          <div class="col-12 mt-2">
          <p-button label="Ingresar"  (onClick)="submit()"></p-button>
        </div>
        <br><br>
        <br>
        <a routerLink="/login">Iniciar Sesión </a>
        <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
      </div>
    </form>
  </section>