<section>
    <div class="profile">
      <img [src]="userData.imageUrl" alt="Foto de perfil">
    </div>
    <div class="user-info">
      <p><strong>Nombre:</strong> {{ userData.name }}</p>
      <p><strong>Email:</strong> {{ userData.email }}</p>
      <p><strong>Rol:</strong> {{ displayRole }}</p> <!-- Utiliza la propiedad calculada -->
      <p><strong>RUT:</strong> {{ userData.rut }}</p>
      <p><strong>Dirección:</strong> {{ userData.address }}</p>
      
      <p><strong>Historial de actividades:</strong> </p>
  
      <!-- Render condicional del botón "Crear oportunidad" -->
     </div>
     <div class="botones">
     <button *ngIf="userData.roles === 'empresa'" routerLink="/create">Crear oportunidad</button>
     <br>
     <br>
     <button *ngIf="userData.roles === 'empresa'" routerLink="/requests">Solicitudes</button>
     <br>
     <br>
     <button routerLink="/edit">Editar Perfil</button>
     </div>
</section>
<app-footer-navigation></app-footer-navigation>
  