<section class="profile-section">
  <div class="principal">
    <h2>Mis Actividades Inscritas</h2>
    <div *ngIf="activitiesData.length > 0; else noActivities" class="fondo">
      <div *ngFor="let activity of activitiesData" class="activity-card">
        <div class="activity-header">
          <h3>{{ activity.Opportunity.name }}</h3>
        </div>
        <div class="activity-body">
          <p><strong>Descripción:</strong> {{ activity.Opportunity.description }}</p>
          <p><strong>Fecha:</strong> {{ activity.Opportunity.date }}</p>
          <p><strong>Ubicación:</strong> {{ activity.Opportunity.location }}</p>
          <p><strong>Estado de la postulación:</strong> {{ getTranslatedStatus(activity.userStatus) }}</p>
        </div>
      </div>
    </div>
    <ng-template #noActivities>
      <p class="no-activities">No tienes actividades inscritas.</p>
    </ng-template>
  </div>
</section>
<app-footer-navigation></app-footer-navigation>
