/* footer-navigation.component.css */
.footer{
    background-color: #ffffff00;
    color: #ffffff;
    text-align: center;
    padding: 0px ;
    position:fixed ;
    bottom: 0;
    width: 100% ;
  }
  
  .footer nav ul {
    list-style-type: none;
    padding: 0px;
    border-top: 1px solid #9bd7db; /* Añade un borde superior para separar de los contenidos */
  }
  
  .footer nav ul li {
    display:inline;
    margin-right: 0px;
  }
  
  .footer nav ul li a {
    color: #000000;
    text-decoration: none;
    border-right: 1px solid #555; /* Añade un borde derecho entre los elementos */
    padding-right: 10px; /* Añade un espacio entre el borde y el texto */
  }
