<!-- sidebar-navigation.component.html -->
<nav class="sidebar">
  <div class="sidebar-header">
    <img src="assets/images/logo.png" alt="SolidariClick Logo" class="logo">
  </div>
  <ul class="sidebar-menu">
    <li><button routerLink="/activities" class="sidebar-button">Mis Actividades</button></li>
    <li><button routerLink="/awards" class="sidebar-button">Premios</button></li>
    <li><button routerLink="/profile" class="sidebar-button">Perfil</button></li>
    <li><button routerLink="/home" class="sidebar-button">Oportunidades</button></li>
    <li><button class="sidebar-button logout-button" (click)="logout()">Salir</button></li>
  </ul>
</nav>
