/* footer-navigation.component.css */
.footer {
  background-color: #90caf9; /* Azul claro */
  color: #ffffff;
  text-align: center;
  padding: 5px 0; /* Reducido para hacer el footer más angosto */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer nav ul li {
  flex: 1;
}

.footer nav ul li p-button {
  width: 100%;
  background-color: transparent;
  border: none;
}

.footer nav ul li p-button .ui-button {
  width: 90%; /* Reducido el ancho del botón */
  color: #0d47a1; /* Color azul más oscuro para el texto */
  background-color: #90caf9; /* Color de fondo del botón */
  border-radius: 25px; /* Bordes redondeados */
  border: 2px solid #0d47a1; /* Borde del botón */
  padding: 5px 10px; /* Espaciado interno reducido */
  font-size: 0.9em; /* Tamaño de fuente reducido */
  transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.footer nav ul li p-button .ui-button:hover {
  background-color: #64b5f6; /* Color de fondo del botón en hover */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.footer nav ul li p-button .ui-button:focus {
  outline: none; /* Quita el outline al enfocar */
  box-shadow: 0 0 5px #0d47a1; /* Añade un shadow al enfocar */
}

@media (max-width: 768px) {
  .footer nav ul {
    flex-direction: column;
    padding: 10px;
  }

  .footer nav ul li {
    margin-bottom: 5px;
  }
}
