/* sidebar */
.sidebar {
  background-color: #0d47a1; /* Dark blue */
  color: #ffffff;
  height: 100vh;
  width: 300px; /* Adjusted width for sidebar */
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20px;
  transition: width 0.3s; /* Smooth transition for width change */
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-header .logo {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%; /* Make the logo circular */
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar-button {
  width: 90%;
  background-color: #1565c0; /* Button background color */
  border: none;
  color: #ffffff; /* Button text color */
  border-radius: 8px; /* Rounded borders */
  padding: 10px; /* Button padding */
  font-size: 1em; /* Button font size */
  text-align: center;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  display: block; /* Ensure buttons are block elements */
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #1e88e5; /* Hover background color */
  transform: scale(1.05); /* Hover scale effect */
}

.sidebar-button:focus {
  outline: none; /* Remove outline on focus */
  box-shadow: 0 0 5px #ffffff; /* Shadow on focus */
}

.logout-button {
  background-color: #e53935; /* Logout button background color */
}

.logout-button:hover {
  background-color: #f44336; /* Logout button hover color */
}

@media (max-width: 1024px) {
  .sidebar {
    width: 250px; /* Adjusted width for smaller screens */
  }

  .sidebar-button {
    font-size: 0.9em; /* Reduced font size */
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 220px; /* Adjusted width for smaller screens */
  }

  .sidebar-header .logo {
    width: 70%;
  }

  .sidebar-button {
    font-size: 0.8em; /* Further reduced font size */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 180px; /* Adjusted width for smallest screens */
  }

  .sidebar-header .logo {
    width: 60%;
  }

  .sidebar-button {
    font-size: 0.75em; /* Further reduced font size */
    padding: 8px; /* Reduced padding */
  }
}
