<section>
  <div *ngIf="activityDetails">
    <div class="contenedor">
    <h1>{{ activityDetails.name }}</h1>
    <img [src]="'http://127.0.0.1:3000/imagenes/' + activityDetails.image" alt="{{ activityDetails.name }}">
    <div class="descripcion">
      <p>{{ activityDetails.description }}</p>
      <p>Fecha: {{ activityDetails.date }}</p>
      <p>Ubicación: {{ activityDetails.location }}</p>
    </div>
    <div class="text">
      <label for="request"></label>
      <input type="text" id="texto" name="texto" placeholder="Cuentanos porque quieres ser participe de esta actividad"><br>
      </div>
      <button class="boton-inscripcion" (click)="postular()">Inscribirme</button>
    </div>
  </div>
  <br>
</section>
<app-footer-navigation></app-footer-navigation>
