<section class="profile-section">
  <div class="profile-card">
      <div class="profile-image">
          <img [src]="userData.imageUrl" alt="Foto de perfil">
      </div>
      <div class="user-info">
          <h2>{{ userData.name }}</h2>
          <p><strong>Email:</strong> {{ userData.email }}</p>
          <p><strong>Rol:</strong> {{ displayRole }}</p>
          <p><strong>RUT:</strong> {{ userData.rut }}</p>
          <p><strong>Dirección:</strong> {{ userData.address }}</p>
          <h3>Historial de actividades:</h3>
      </div>
      <div class="action-buttons">
          <button *ngIf="userData.roles === 'empresa'" routerLink="/create">Crear oportunidad</button>
          <button *ngIf="userData.roles === 'empresa'" routerLink="/requests">Solicitudes</button>
          <button routerLink="/edit">Editar Perfil</button>
      </div>
  </div>
</section>
<app-footer-navigation></app-footer-navigation>
